/** Imports  */

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

/** Your styles go here */

html {
	font-size: 62.5%;
}

body {
	color: hsl(0, 0%, 93%);
	font-family: 'Press Start 2P', sans-serif;
	background-color: hsl(0, 0%, 13%);

	/* background-color: hsl(106, 43%, 49%); */
}

/* LAYOUT */
header {
	position: relative;
	height: 35vh;
	border-bottom: 7px solid hsl(0, 0%, 93%);
}

main {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 65vh;
	color: hsl(0, 0%, 93%);
}

.left {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 52rem;
}

.right {
	width: 52rem;
	font-size: 2rem;
}

/* ELEMENTS STYLE */
h1 {
	position: absolute;
	top: 52%;
	left: 50%;
	width: 100%;
	font-size: 4rem;
	text-align: center;
	transform: translate(-50%, -50%);
}

.number {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 15rem;
	padding: 3rem 0;
	color: hsl(0, 0%, 20%);
	font-size: 6rem;
	text-align: center;
	background: hsl(0, 0%, 93%);
	transform: translate(-50%, 50%);
}

.between {
	position: absolute;
	top: 2rem;
	right: 2rem;
	font-size: 1.4rem;
}

.again {
	position: absolute;
	top: 2rem;
	left: 2rem;
}

.guess {
	display: block;
	width: 25rem;
	margin-bottom: 3rem;
	padding: 2.5rem;
	border: 4px solid hsl(0, 0%, 93%);
	color: inherit;
	font-size: 5rem;
	font-family: inherit;
	text-align: center;
	background: none;
}

.btn {
	padding: 2rem 3rem;
	border: none;
	color: hsl(0, 0%, 13%);
	font-size: 2rem;
	font-family: inherit;
	background-color: hsl(0, 0%, 93%);
	cursor: pointer;
}

.btn:hover {
	background-color: hsl(0, 0%, 80%);
}

.message {
	height: 3rem;
	margin-bottom: 8rem;
}

.label-score {
	margin-bottom: 2rem;
}
