/** Imports  */

@import url(https://fonts.googleapis.com/css?family=Overpass:100,100italic,200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,800,800italic,900,900italic);

/** Your styles go here */

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html {
	font-size: 62.5%;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	color: hsl(0, 0%, 20%);
	font-weight: 400;
	font-family: 'Nunito', sans-serif;
	background-image: linear-gradient(to top left, hsl(290, 41%, 36%) 0%, hsl(358, 61%, 46%) 100%);
}

/* LAYOUT */
main {
	position: relative;
	display: flex;
	width: 100rem;
	height: 60rem;
	border-radius: 9px;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.35);
	box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
	filter: blur();
	backdrop-filter: blur(200px);
}

.player {
	display: flex;
	flex: 50%;
	flex-direction: column;
	align-items: center;
	padding: 9rem;
	transition: all 0.75s;
}

/* ELEMENTS */
.name {
	position: relative;
	margin-bottom: 1rem;
	font-weight: 300;
	font-size: 4rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	word-spacing: 2px;
}

.score {
	margin-bottom: auto;
	color: hsl(343, 57%, 50%);
	font-weight: 300;
	font-size: 8rem;
}

.player--active {
	background-color: rgba(255, 255, 255, 0.4);
}
.player--active .name {
	font-weight: 700;
}
.player--active .score {
	font-weight: 400;
}

.player--active .current {
	opacity: 1;
}

.current {
	width: 65%;
	padding: 2rem;
	border-radius: 9px;
	color: hsl(0, 0%, 100%);
	text-align: center;
	background-color: hsl(343, 57%, 50%);
	opacity: 0.8;
	transition: all 0.75s;
}

.current-label {
	margin-bottom: 1rem;
	color: hsl(0, 0%, 87%);
	font-size: 1.7rem;
	text-transform: uppercase;
}

.current-score {
	font-size: 3.5rem;
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
	position: absolute;
	left: 50%;
	padding: 0.7rem 2.5rem;
	border: none;
	border-radius: 50rem;
	color: hsl(0, 0%, 27%);
	font-weight: 400;
	font-size: 1.8rem;
	font-family: inherit;
	text-transform: uppercase;
	background: none;
	background-color: white;
	background-color: rgba(255, 255, 255, 0.6);
	box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
	transform: translateX(-50%);
	cursor: pointer;
	backdrop-filter: blur(10px);
	transition: all 0.2s;
}

.btn::first-letter {
	display: inline-block;
	margin-right: 0.7rem;
	font-size: 2.4rem;
}

.btn--new {
	top: 4rem;
}
.btn--roll {
	top: 39.3rem;
}
.btn--hold {
	top: 46.1rem;
}

.btn:active {
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
	transform: translate(-50%, 3px);
}

.btn:focus {
	outline: none;
}

.dice {
	position: absolute;
	top: 16.5rem;
	left: 50%;
	height: 10rem;
	box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
	transform: translateX(-50%);
}

.player--winner {
	background-color: hsl(0, 0%, 18%);
}

.player--winner .name {
	color: hsl(343, 57%, 50%);
	font-weight: 700;
}

.hidden {
	display: none;
}
